body {
    font-family: 'Raleway', sans-serif;
    color: #555;
    background: #333;
    margin: 3em;
    background-image: url(/images/background.jpg);
    background-size: cover;
}

.portfolio {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
} 

.portfolio-title {
    text-align: center;
    color: #FFCC00;
    grid-column: 1 / -1;
}

img {
    max-width: 100%;
}

.portfolio-card {
    box-shadow: 0 0 1em rgba(0,0,0,.25);
    /* padding: 1em; */
    background: white;
    position:relative;
}

.portfolio-card-title {
    font-size: 1.5rem;
    color: #990000;

}

.item {
    position: relative;
}
.img-banner {
    /*
    Challenge:
    1. Position the image banner at the top left 
       of the first image as per the slide. What
       CSS do you need to add to the parent 
       element to make this work?
    */ 
        position: absolute;
        top: 0;
        left: 0;
        background-color: #990000;
        color: #FFCC00;
        padding: 8px;
        font-size: small;
    }

.info {
    padding: 1em;
}


@media (max-width: 400px){

    .portfolio {
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-gap: 1em;
    } 

}